body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a:link {
    color: #E5E7EB;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #E5E7EB;
}


.logo {
    max-height: 50px;   
}

.logotext {
    font-size: 24px;
    color:#f9faf8;
}

.header {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #1f2937;
    gap: 180px;
} 

.toplinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 18px;
}

.hero {
    background-color: #1f2937;
    color:#f9faf8;
    max-height: 150vh;
    padding-top: 50px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.signup {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    min-width: 150px;
    height: 42px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.signup:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px #3882F6;
}

.signup2:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px #E5E7EB;
}

.heromaintext {
    font-weight: bold;
    font-size: 48px;
}

.herotext {
    font-size: 18px;
    color: #E5E7EB;
}

.pppic {
    height: 180px;
    width: 200px;
    margin: 50px;
    padding-left: 100px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    gap: 50px;
}

.infoheader {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 33px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.cards p {
    text-align: center;
}

.card {
    height: 200px;
    border-radius: 10px;
    border: solid #3882F6 2px;
}


.quote {
    background-color: #E5E7EB;
    padding-top: 20px;
}

.quotetext {
    font-size: 30px;
    color: #1F2937;
    margin: 85px;
    padding-right: 150px;
    padding-left: 150px;
}

.quotename {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 25px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.actionspan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 400px;
    min-width: 0;
    background-color: #3882F6;
    color:#f9faf8;
    border-radius: 12px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding-left: 80px;
}


.mvbutton {
    display: flex;
    align-items: center;
    padding-left: 50px;
    flex: 1;
    min-width: 0;
}

.signup2 {
    background-color: #3882F6;
    border: solid;
    border-color: #f9faf8;
    border-radius: 10px;
    min-width: 150px;
    height: 42px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.footer {
    height: 72px;
    color: #E5E7EB;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}